body {
    background-image: url("../images/cell2.png");
    margin:0;
    padding: 0;
    font-size: 14px;
    text-align: center;
    color: white;
    border: 1px solid red;
}

.bg {
    display: inline-block;
    background: url("../images/bg_main_.jpg") no-repeat;
    width: 1280px;
    height: 960px;
    border: 1px solid red;
    font-size: 0;
    vertical-align: top;
}
.empty1 {
    width: 1200px;
    height: 0;
    /* background-color: white;*/
}
.logo {
    display: inline-block;
    width: 300px;
    height: 160px;
    /* background-color: gray; */
    text-align: right;
    vertical-align: top;
}
.menu {
    display: inline-block;
    width: 980px;
    height: 160px;
    font-size: 0;
    text-align: right;
}
.hwoarang_asuka {
    display: inline-block;
    width: 350px;
    height: 700px;
    /*background-color: red;*/
    text-align: right;
    vertical-align: top;
}
.empty {
    display: inline-block;
    width: 930px;
    height: 700px;
    /*background-color: purple;*/
}
.logo_inside {
    display: inline-block;
    margin-top: 80px;
    /* background-color: yellow; */
}
.menu_inside {
    display: inline-block;
    font-size: 0;
    margin-top: 80px;
    margin-right: 50px;
    border-bottom: 3px solid red;
    padding-bottom: 10px;
}
.button {
    display: inline-block;
    font-size: 6px;
    border: 1px solid red;
}
.hwoarang_inside {
    display: inline-block;
    /*background-color: yellow;*/
    font-size: 0;
    text-align: right;
    margin-top: 300px;
}